# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/server/coverage

# production
/server/build
/server/dist
/client/.next

# misc
.DS_Store
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/server/.DS_Store
/server/.env
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*

/client/.env
/client/.env.build
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
