/* sansation-regular */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/NunitoSans-SemiBold.ttf') format('truetype');
}

/* sansation-light  */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/NunitoSans-Regular.ttf') format('truetype');
}

/* sansation-bold  */
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/NunitoSans-Bold.ttf') format('truetype');
}
